xmlPars/random_structure_29.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library" type="libraryType"/>
  <xs:complexType name="priceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Foundation"/>
            <xs:enumeration value="Effective Java"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="George Orwell"/>
            <xs:enumeration value="Robert C. Martin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="year">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2016"/>
            <xs:enumeration value="2017"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="genre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="History"/>
            <xs:enumeration value="Science"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="priceType" name="price"/>
      <xs:element type="xs:string" name="format" minOccurs="0"/>
      <xs:element type="reviewsType" name="reviews" minOccurs="0"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="awardsType" name="awards" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="reviewType">
    <xs:sequence>
      <xs:element name="user">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="charlie"/>
            <xs:enumeration value="eve"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="rating">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="comment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Loved the examples."/>
            <xs:enumeration value="Could be better."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reviewsType">
    <xs:sequence>
      <xs:element type="reviewType" name="review" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="awardsType">
    <xs:sequence>
      <xs:element name="award" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Critics' Choice"/>
            <xs:enumeration value="Book of the Year"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libraryType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>